.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #060157;

}

.contenedor-principal{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 10px;
  padding: 20px 20px;
}

.contenedor-btn{
  display: flex;
  max-width: 50%;
  flex-direction: row;
  flex-wrap: wrap;
}

.contenedor-FormularioR{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 40%;
  padding: 20px 10px;
  align-items: center;

  input{
    height: 30px;
    border-radius: 10px;
    margin: 10px 3px;
    border: 2px solid #910000;
  }

}